{{ define "index" }}

<!doctype html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <title>ROOM | Index</title>
		<meta http-equiv="refresh" content="20" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/static/content/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/static/content/mdl/material.css">
		<link rel="stylesheet" type="text/css" href="/static/content/styles.css">
        <link rel="stylesheet" type="text/css" href="/static/css/room.css">
    </head>
    <body>
		<div class="mdl-layout mdl-js-layout">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title">Realtime Office Occupation Monitor</span>
                </div>
            </header>
            <main class="mdl-layout__content">
				<div class="mdl-grid">
					<div class="page-content">
						<h4>Welcome to Sean &amp; Andy's Avcodeo project!</h4>
						<p>Below you'll find a table displaying the occupation status of each room we have placed one of our top-quality motion sensing devices.</p>
						<p>(Currently, just the one)</p>
						<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
							<thead>
								<tr>
									<th class="mdl-data-table__cell--non-numeric">Room</th>
									<th class="mdl-data-table__cell--non-numeric">Status</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="mdl-data-table__cell--non-numeric">Second Floor Breakout</td>
									<td class="mdl-data-table__cell--non-numeric">{{ if .Occupied }}Occupied{{ end }}{{ if not .Occupied }}Free{{ end }}</td>
								</tr>
							</tbody>
						</table>
                    </div>
                </div>
            </main>
            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">&copy; Avco Systems Ltd</div>
                    <ul class="mdl-mini-footer__link-list">
                        <li><a href="https://interweb.avcosystems.com/Schedule/">Schedule</a></li>
                    </ul>
                </div>
            </footer>
        </div>
        <script type="text/javascript" src="/static/js/room.js"></script>
		<script type="text/javascript" src="/static/content/mdl/material.js"></script>
    </body>
</html>

{{ end }}